<h1>Profile 1</h1>

<table>
  <tr>
    <th>Idnumber</th>
    <th>Paragraph</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tmp2.each do |bid| %>
  <tr>
    <td><%= bid.idnumber %></td>
    <td><%= bid.paragraph %></td>
  </tr>
<% end %>
</table>
<br />


