<h1>Sign up</h1>

Welcome would you like to sign up ?
<%= form_tag :action => 'userCreation' do %>
<%= submit_tag 'Sign up'%>
<% end %>
<%#= link_to 'User', welcome_index_path %>
<%#= link_to 'Admin', bids_path %>
