/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";

#header {
 	border-style:solid;
 	border-width:2px;
 	border-color:blue;
 	font-size:25px;

}
#header a:link {
	color:black;
}
#header a:visited {
	color:black;
}


#footer{
	font-size:12px;
 	float:left;
	position:fixed;
	bottom:5px;
	border-style:solid;
	border-width:2px;
	border-color:yellow;
}
#logoimage{
}
#nav{
	position:relative;
	right:-200px;
	max-width:100px;
	border-style:solid;
	border-width:2px;
	border-color:yellow;
}
body { 
  	font: normal 12px Arial, Helvetica, sans-serif;
  	color:black;
    background: url('greyzz.png');
	border-style:solid;
	border-width:5px;
	border-color:red;
}
h1 {
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 5px;
	color:black;
	line-height: 28px;
}
