/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


#header {
 float:right;
}
#header{
 font-size:12px;
}
#footer{
	font-size:12px;
	position:relative;
	bottom:5px;
}
#logoimage{
	position:left;
	}
body { 
  font: normal 12px Arial, Helvetica, sans-serif;
	  color: #444;
			background-image:url('/images/greyzz/greyzz.png');
}

h1 {
	font-weight: normal;
		font-size: 20px;
			margin-bottom: 5px;
				color:#00367B;
					line-height: 28px;
}

